@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #34282C;
}
.main-container{
    width: 100%;   
}
.header{
    width: 100%;
}
.nav-container-one{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 5px;
    background-color: #000;
    z-index: 0;
    position: fixed;
    top: 0;
}
.nav-container-one .logo{
    width: 8%;
    text-align: center;
    margin: 0px 50px;
    z-index: 3;
}
.logo a{
    text-decoration: none;
}
.logo h1{
    color: antiquewhite;
    cursor: pointer;
    font-size: 2.5rem;
}
.logo span{
    color: #06b453;
}
.nav-container-one .nav-menu{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container-one .nav-menu li{
    list-style-type: none;
    margin: 0px 20px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.nav-container-one .nav-menu li a{
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.nav-container-one .nav-menu li a:hover{
    color: #06b453;
}
.nav-container-one .nav-login{
    width: 15%;
    text-align: center;
}
.nav-login .nav-login-btn{
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    color: antiquewhite;
}
.nav-login .nav-login-btn:hover{
    color: #06b453;
}
.nav-login .nav-signup-btn{
    border: none;
    outline: none;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.nav-login .nav-signup-btn:hover{
    background-color: antiquewhite;
    color: #06b453;
}
.nav-container-one .fa-bars{
    display: none;
}
.nav-sidebar{
    width: 50%;
    position: fixed;
    top: 0;
    height: 680px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    text-align: center;
    display: none;
}
.nav-sidebar ul{
    margin: 0px 0px 50px 0px;
}
.nav-sidebar .nav-menu li{
    width: 60%;
    margin: 0px auto;
    list-style-type: none;
    padding: 10px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.nav-sidebar .nav-menu li a{
    text-decoration: none;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.nav-sidebar .nav-menu li a:hover{
    color: #06b453;
}
.nav-sidebar ul,
.nav-sidebar .nav-login{
    position: relative;
    top: 20%;
}
.nav-sidebar .nav-login{
    text-align: center;
}
.nav-sidebar .nav-mark{
    color: antiquewhite;
    position: relative;
    top: 6.5%;
    right: -40%;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

/* SignUp Form */
.signup-bg{
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 70px;
    height: 742px;
    z-index: 3;
    background-color: rgba(255,255,255,-0.2);
    backdrop-filter: blur(8px);
    display: none;
}
.signup-container{
    width: 30%;
    margin: 0px auto;
    background-color: antiquewhite;
    border-radius: 15px;
    text-align: center;
}
.signup-container .signup-content{
    width: 100%;
    padding: 10px 0px;
}
.signup-content h1{
    color: #000;
    font-size: 2rem;
    margin: 20px 0px;
}
.signup-content h1 span{
    color: #06b453;
}
.signup-content .signup-create{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0px;
}
.signup-content p:last-child{
    font-weight: 200;
    letter-spacing: 1px;
}
.signup-container form{
    width: 100%;
    margin: 0px auto;
    display: grid;
}
.signup-container form div{
    width: 90%;
    margin: 0px auto;
    border: 1px solid green;
}
.signup-container form div input{
    width: 100%;
}
.signup-container form input{
    width: 80%;
    outline: none;
    border: 1px solid gray;
    font-size: 1rem;
    padding: 10px;
    margin: 10px auto ;
    border-radius: 10px;
}
.signup-container form input:focus{
    border-color: #06b453;
}
.signup-container form .signup-checkbox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container form .signup-btn{
    width: 80%;
    margin: 20px auto 10px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.signup-container form .signup-btn:hover{
    background-color: antiquewhite;
    color: #06b453;
    outline: 1px solid #06b453;
}
.signup-container .signup-accounts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-container .signup-accounts p{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 10px 0 30px;
}
.signup-container .signup-accounts a{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 10px 0 30px;
    text-decoration: none;
}
.signup-mark .signup-mark{
    position: absolute;
    top: 15%;
    left: 62%;
    width: 20px;
    height: 20px;
    border: 1px solid #06b453;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    padding: 12px;
    background-color: #06b453;
    border-radius: 50%;
    cursor: pointer;
}


/* Login */

.login-bg{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding-top: 70px;
    height: 742px;
    background-color: rgba(255,255,255,-0.2);
    backdrop-filter: blur(8px);
    display: none;
}
.login-container{
    width: 30%;
    margin: 0px auto;
    background-color: antiquewhite;
    border-radius: 15px;
    text-align: center;
}
.login-container .login-content{
    width: 100%;
    padding: 10px 0px;
}
.login-content h1{
    color: #000;
    font-size: 2rem;
    margin: 20px 0px;
}
.login-content h1 span{
    color: #06b453;
}
.login-content .login-create{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 5px 0px;
}
.login-content p:last-child{
    font-weight: 200;
    letter-spacing: 1px;
}
.login-container form{
    width: 100%;
    margin: 0px auto;
    display: grid;
}
.login-container form div{
    width: 90%;
    margin: 0px auto;
    border: 1px solid green;
}
.login-container form div input{
    width: 100%;
}
.login-container form input{
    width: 80%;
    outline: none;
    border: 1px solid gray;
    font-size: 1rem;
    padding: 10px;
    margin: 10px auto ;
    border-radius: 10px;
}
.login-container form input:focus{
    border-color: #06b453;
}
.login-container form .login-checkbox{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container form .login-btn{
    width: 80%;
    margin: 20px auto 10px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.login-container form .login-btn:hover{
    background-color: antiquewhite;
    color: #06b453;
    outline: 1px solid #06b453;
}
.login-container .login-accounts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .login-accounts p{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 10px 0 30px;
}
.login-container .login-accounts a{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 10px 0 30px;
    text-decoration: none;
}
.login-mark .login-xmark{
    position: absolute;
    top: 15%;
    left: 62%;
    width: 20px;
    height: 20px;
    border: 1px solid #06b453;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    padding: 12px;
    background-color: #06b453;
    border-radius: 50%;
    cursor: pointer;
}
.login-container p{
    font-size: 1rem;
    margin-top: 40px;
    letter-spacing: 1px;
    font-weight: 300;
}
.login-container .login-social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .login-social-media div{
    width: 30px;
    height: 30px;
    outline: 1px solid gray;
    margin: 0px 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

/* Banner */

.banner{
    width: 100%;
    height: 700px;
    /* position: absolute; */
    text-align: center;
    padding-top: 1px;
    background-color: #000;
    color: antiquewhite;
    z-index: -3;
    /* border: 1px solid orangered; */
}
.banner p:first-child,
.banner .banner-para{
    font-size: 4rem;
    font-weight: bold;
    margin: 150px 0px 0px;
}
.banner .banner-para{
    margin-top: 0px !important;
}
.banner .banner-para1{
    width: 60%;
    margin: 20px auto;
    font-weight: 100;
    letter-spacing: 1px;
}
.banner .banner-btn{
    width: 100%;
    /* border: 1px solid orange; */
    margin-top: 150px;
}
.banner .banner-btn button{
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.banner .banner-btn button:hover{
    color: #06b453;
    background-color: antiquewhite;
}

/* Features */
.main-feature{
    width: 100%;
    padding: 100px 0px;
    text-align: center;
    color: aliceblue;
    background-color: #000;
}
.main-feature::after{
    content: '';
    width: 140px;
    height: 140px;
    position: absolute;
    top: 140%;
    left: 30%;
    border-radius: 50%;
    background-color: orange;
    filter: blur(130px);
}
.main-feature .feature-title{
    width: 100%;
    color: #06b453;
    font-size: 18px;
    margin: 20px 0px;
    font-weight: 500;
}
.main-feature .feature-titles{
    width: 80%;
    margin: 0px auto 140px;
}
.main-feature .feature-titles p{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.main2-feature{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.main2-feature .feature-content1{
    width: 23%;
    box-shadow: 0px 0px 10px 2px rgba(58,59,60,0.75);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    /* z-index: 0; */
    transition: transform 0.3s ease;
}
.main2-feature .feature-content1:hover{
    transform: translateY(-8px);
}
.feature-content1 .fa-feature{
    color: orange;
    display: inline;
    font-size: 2rem;
}
.feature-content1 .feature-para1{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px 0px;
    color: antiquewhite;
}
.feature-content1 .feature-para{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 15px 0px;
}
.feature-content1 .feature-learn{
    color: #06b453;
    margin: 40px 0px;
}
.feature-learn p{
    cursor: pointer;
}

/* Software Key Features */
.main-key-bg{
    width: 100%;
    background-color: #000;
    padding-bottom: 100px;
}
.main-key-bg::before{
    content: '';
    width: 140px;
    height: 140px;
    position: absolute;
    top: 380%;
    left: 30%;
    border-radius: 50%;
    background-color: lightseagreen;
    filter: blur(150px);
}
.main-key{
    width: 90%;
    margin: 0px auto 150px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key-img{
    width: 45%;
    text-align: center;
}
.key-detail{
    width: 55%;
}
.key-detail .key-title{
    width: 100%;
    color: #06b453;
    font-size: 18px;
    margin: 20px 0px;
    font-weight: 500;
}
.key-detail .key-titles p{
    width: 90%;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
.key-features{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px;
}
.key-features .key-features1{
    width: 85%;
}
.key-features .key-features1 .key-num{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    margin: 10px 0px;
    background-color: #06b453;
    color: antiquewhite;
}
.key-features .key-features1 .key-para{
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
}
.key-features .key-features1 p:last-child{
    margin: 5px 0px;
    letter-spacing: 1px;
    font-weight: 100;
}

/* Who Can Use Poze  */

.can-use-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.can-use{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.can-use div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 10px 5px 0px;
    background-color: #06b453;
}


/* Pricing */
.main-pricing-container{
    width: 100%;
    padding: 70px 0px;
    color: #fff;
    background-color: #000;   
}
.pricing-one{
    width: 100%;
    text-align: center;
}
.pricing-one .key-title-price{
    width: 100%;
    color: #06b453;
    font-size: 18px;
    /* margin: 20px 0px; */
    font-weight: 500;
}
.pricing-one .key-titles p{
    width: 90%;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin: 40px auto 80px;
}
.pricing-two{
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.price-container{
    width: 27%;
    border-radius: 20px;
    padding: 20px;
    margin: 0px 0px 90px;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 9px 3px rgba(77,77,79,0.75);
    /* border: 1px solid lightyellow; */
}

.price-container .price-one{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}
.price-container .price-one .price-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    margin: 0px 10px;
    border-radius: 50%;
    border: 1px solid #06b453;
    transition: all 0.5s ease;
}
.price-container .price-one .price-icon .fa-check-mark{
    font-size: 1.5rem;
}
.price-container .price-one .price-title p:first-child{
    font-size: 2rem;
    margin: 0px 10px;
    color: orangered;
}
.price-container .price-one .price-title p:last-child{
    font-weight: 200;
    margin: 0px 10px;
    color: orange;
    letter-spacing: 1px;
}
.price-plan{
    padding: 10px;
}
.price-plan .price-money{
    font-size: 2.5rem;
    font-weight: 500;
    transition: all 0.5s ease;
} 
.price-plan .price-money span{
    font-size: 1rem;
    font-weight: 100;
    /* transition: all 0.5s ease; */
}
.price-plan .price-two{
    width: 100%;
    margin: 10px 0px;
}
.price-plan .price-two .price-div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}
.price-plan .price-two .price-div div:first-child{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #06b453;
    transition: all 0.5s ease;
}
.price-plan .price-two .price-div p:last-child{
    /* font-weight: 100; */
    margin: 0px 10px;
    /* color: #06b453; */
    transition: all 0.5s ease;
}
.price-container .price-btn{
    width: 100%;
    color: antiquewhite;
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0px 50px;
    cursor: pointer;
    border: 1px solid #06b453;
    transition: all 0.3s ease;
}
.price-container .price-btn:hover{
    transform: translateY(-5px);
}
.price-container:hover .price-icon{
    background-color: #06b453;
}
.price-container:hover .price-two .price-div div:first-child{
    background-color: #06b453;
}
.price-container:hover .price-btn{
    background-color: #06b453;
}
.price-container:hover{
    background-color: antiquewhite;
}
.price-container:hover .price-plan p{
    color: #000;
}
.price-container:hover .price-div p:last-child{
    color: #34282C;
}



/* Clients  */
.main-clients-container{
    width: 100%;
    /* border: 1px solid orangered; */
    background-color: #000;
    padding: 50px 0px;
    color: antiquewhite;
}
.clients-container2{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: 0.5s ease;
    /* padding: 30px 150px; */
}
.clients-container2 .clients1{
    width: 100%;
    text-align: center;
    margin: 0px 42px;
    padding: 0px -100px;
    border-radius: 20px;
    border: 1px solid green;
}
.clients1 .client-img{
    width: 255px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    /* border: 1px solid #06b453; */
    background-color: #06b453;
}
.clients1 .client-img img{
    width: 100px;
    height: 100px;
    background-position: center;
    object-fit: cover;
    border: 3px solid antiquewhite;
    padding: 4px;
    border-radius: 50%;
}
.clients1 .client-detail p:first-child{
    font-size: 1.2rem;
    margin: 20px 0px;
    letter-spacing: 1px;
}
.clients1 .client-detail .client-para{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px 10px;
    text-align: inherit;
}
.clients1 .client-detail button{
    border: none;
    outline: none;
    margin: 20px 0px;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.clients1 .client-detail button:hover{
    background-color: antiquewhite;
    color: #06b453;
}
.clients-container2 .fa-left{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #06b453;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.clients-container2 .fa-right{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #06b453;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.clients-container2 .fa-right:hover,
.clients-container2 .fa-left:hover{
    background-color: #06b453;
}

.clients-container2 .fa-client-left{
    padding: 20px;
    font-size: 1.5rem;
}
.clients-container2 .fa-client-right{
    padding: 20px;
    font-size: 1.5rem;
}



/* Trail Section */
.main-trail-container{
    width: 100%;
    color: antiquewhite;
    background-color: #000;
    padding: 150px 0px;
}
.trail-container{
    width: 80%;
    margin: 100px auto;
    padding: 60px;
    border-radius: 20px;
    background-color: #3A3B3C;
    text-align: center;
}
.trail-container h1{
    width: 80%;
    /* border: 1px solid blueviolet; */
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 50px auto 10px;
    /* padding: 20px 20px 0px; */
}
.trail-container p{
    width: 70%;
    margin: 20px auto;
    letter-spacing: 1px;
    font-weight: 200;
    /* border: 1px solid lightcoral; */
}
.trail-container .trail-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trail-container .trail-btn button{
    border: none;
    outline: none;
    margin: 0px 20px;
    padding: 10px 20px;
    margin: 30px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}
.trail-container .trail-btn button:hover{
    background-color: antiquewhite;
    color: #06b453;
}



/* Accordion Section */
.main-accordion-container{
    width: 100%;
    color: antiquewhite;
    background-color: #000;
    padding-bottom: 150px;
}
.accordion-container2{
    width: 70%;
    margin: 0px auto;
    display: grid;
    /* text-align: center; */
    /* border: 1px solid orangered; */
}
.accordion1{
    border: none;
    overflow: hidden;
    height: 105px;
    margin: 10px 0px;
    border: 1px solid #06b453;
    border-radius: 20px;
    transition: all 0.6s ease;
}
.accordion-container2 .accordion-title{
    width: 90%;
    margin: 20px auto;
    padding: 20px 0px;
    /* border: 1px solid lightcyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.accordion-container2 .accordion-title p{
    /* margin-left: -10px; */
    width: 90%;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.3rem;
}
.accordion1 p:last-child{
    width: 90%;
    /* border: 1px solid lightcoral; */
    margin: 0px auto;
    padding: 0px 15px;
    letter-spacing: 1px;
}
.accordion1 .accordion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion1 .accordion-icon img{
    /* display: hidden; */
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
}
.fa-accordion-minus{
    display: none;
    position: absolute;
    cursor: pointer;
}



/* Blog Section */
.main-blog-container{
    width: 100%;
    color: antiquewhite;
    background-color: #000;
    padding: 150px 0px 150px;
}
.blog-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.blog-section .blog1{
    width: 28%;
    border-radius: 20px;
    border: 1px solid #06b453;
}
.blog-section .blog1 .blog-img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-section .blog1 .blog-img img{
    width: 100%;
    height: 250px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-section .blog1 .blog-tag{
    width: 90%;
    /* border: 1px solid lightcoral; */
    display: flex;
    margin: 30px auto 0px;
}
.blog-section .blog1 .blog-tag .blog-tag1,
.blog-section .blog1 .blog-tag .blog-tag2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.blog-section .blog1 .blog-tag .blog-tag1 i,
.blog-section .blog1 .blog-tag .blog-tag2 i{
    font-size: 0.9rem;
    margin: 0px 5px;
    color: #06b453;
}
.blog-section .blog1 .blog-tag .blog-tag1 p,
.blog-section .blog1 .blog-tag .blog-tag2 p{
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 1px;
}
.blog-section .blog1 .blog-para{
    width: 90%;
    margin: 10px auto 50px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
}
.blog-section .blog1 .blog-view-read{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 30px;
}
.blog-section .blog1 .blog-view-read .blog-read{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.blog-section .blog1 .blog-view-read .blog-read p{
    margin: 0px 5px;
    font-weight: 200;
}
.blog-section .blog1 .blog-view-read .blog-read:hover{
    color: #06b453;
}
.blog-section .blog1 .blog-view-read .blog-view-comment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-section .blog1 .blog-view-read .blog-view-comment .blog-view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.blog-section .blog1 .blog-view-read .blog-view-comment .blog-view i{
    font-size: 0.9rem;
    margin: 0px 5px;
}



/* Contact Section */
.main-contact-container{
    width: 100%;
    color: antiquewhite;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 150px;
    margin-bottom: 550px;
}
.main-contact-container .contact-img{
    width: 50%;
    text-align: center;
}
.main-contact-container .contact-img img{
    width: 70%;
    border-radius: 20px;
    height: 500px;
}
.main-contact-container .contact-form{
    width: 50%;
    text-align: center;
}
.main-contact-container .contact-form form{
    width: 100%;
    /* border: 1px solid lightcoral; */
}
.main-contact-container .contact-form form .input1{
    width: 90%;
    margin: 0px auto;
}
.main-contact-container .contact-form form .input1 input{
    margin: 10px 10px;
    padding: 10px;
    font-size: 1rem;
    color: gray;
    width: 46%;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #06b453;
}
.main-contact-container .contact-form form textarea{
    width: 86%;
    font-size: 1rem;
    color: gray;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    border: 1px solid #06b453;
}
.main-contact-container .contact-form form button{
    width: 30%;
    float: left;
    margin: 20px 55px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    background-color: #06b453;
    color: antiquewhite;
    transition: all 0.3s ease;
}


/* Footer Section */
.main-footer-container{
    width: 100%;
    color: #fff;
    background-color: #040720;
    padding: 150px 0px 0px;
    position: fixed;
    bottom: 0%;
    z-index: -1;
}
.footer-container{
    width: 100%;
    display: grid;
}
.footer-container .footer1-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.footer-container .footer1-container .footer1{
    width: 30%;
    padding: 0px 20px 20px;
}
.footer-container .footer1-container .footer1 h1{
    color: antiquewhite;
    margin: -10px 0px 20px;
}
.footer-container .footer1-container .footer1 h1 span{
    color: #06b453;
}
.footer-container .footer1-container .footer1 p{
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 200;
}
.footer1 .footer-icons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px;
}
.footer1 .footer-icons .footer-icon{
    width: 30px;
    height: 30px;
    border: 1px solid #06b453;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    margin: 0px 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.footer1 .footer-icons .footer-icon:hover{
    color: #06b453;
}
.footer1 .footer-icons .footer-icon i{
    font-size: 1.1rem;
}
.footer-container .footer1-container .footer2,
.footer-container .footer1-container .footer3{
    width: 10%;
    margin: 0px 30px;
}
.footer1-container .footer2 h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: antiquewhite;
}
.footer1-container .footer2 .footer-link{
    width: 100%;
    display: grid;
    /* margin: 30px 0px; */
}
.footer1-container .footer2 .footer-link a{
    text-decoration: none;
    margin: 5px 0px;
    color: #fff;
    transition: all 0.3s ease;
}
.footer1-container .footer2 .footer-link a:hover{
    color: #06b453;
}
.footer1-container .footer3 h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: antiquewhite;
}
.footer1-container .footer3 .footer-link{
    width: 100%;
    display: grid;
}
.footer1-container .footer3 .footer-link a{
    text-decoration: none;
    margin: 5px 0px;
    color: #fff;
    transition: all 0.3s ease;
}
.footer1-container .footer3 .footer-link a:hover{
    color: #06b453;
}
.footer-container .footer1-container .footer4{
    width: 28%;
}
.footer1-container .footer4 h2{
    font-size: 1.5rem;
    color: antiquewhite;
}
.footer1-container .footer4 .footer-link{
    margin: 30px 0px;
}
.footer1-container .footer4 .footer-link input{
    width: 75%;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    background: transparent;
    border-bottom: 1px solid #06b453;
}
.footer1-container .footer4 .footer-link button{
    padding: 12px 20px;
    margin: 0px 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    background-color: #06b453;
    color: antiquewhite;
    border-radius: 10px;
}
.footer2-container{
    width: 100%;
    text-align: center;
    margin: 50px 0px 50px;
}
.footer2-container p{
    letter-spacing: 1px;
}
.footer2-container p span{
    color: #06b453;
    cursor: pointer;
}










/* Media Queries */
/* Media Queries */


@media (max-width: 1000px){
    .main-container{
        width: 100%;
    }
    .nav-container-one .nav-login{
        display: flex;
    }
    .nav-container-one .logo{
        margin: 0;
    }
    .nav-container-one .nav-menu li{
        margin: 0px 10px;
    }
    .nav-sidebar{
        display: none;
    }
    .banner{
        width: 100%;
    }
    .banner p:first-child{
        font-size: 3.5rem;
    }
    .banner .banner-para{
        font-size: 3.5rem;
    }
    .banner .banner-para1{
        width: 80%;
    }
    .main2-feature{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main2-feature .feature-content1{
        width: 60%;
        margin: 20px auto;
    }
    .main-key{
        width: 100%;
        padding: 20px;
    }
    .main-key .key-img img{
        width: 100%;
    }
    .pricing-two{
        width: 100%;
        display: grid;
    }
    .price-container{
        width: 100%;
    }
    .price-container .price-one .price-icon i{
        font-size: 1rem;
    }
    .price-container .price-one .price-title p:first-child{
        font-size: 2rem;
    }
    .trail-container{
        width: 90%;
        padding: 30px 0px 0px;
        /* border: 1px solid orangered; */
    }
    .trail-container h1{
        width: 90%;
        /* border: 1px solid greenyellow; */
    }
    .trail-container .trail-btn button{
        margin-bottom: 50px;
    }
    .main-contact-container .contact-img{
        width: 50%;
    }
    .main-contact-container .contact-img img{
        width: 90%;
        height: 400px;
    }
    .contact-form form{
        width: 50%;
        margin: 0px;
        padding: 0px;
    }
    .contact-form form .input1{
        width: 100%;
        margin: 0px;
        padding: 0px;
        display: flex;
    }
    .contact-form form button{
        width: 50% !important;
    }
}


@media (max-width:800px){
    .main-container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .nav-container-one{
        width: 100%;
    }
    .nav-container-one .logo{
        width: 20%;
    }
    .nav-container-one .nav-menu{
        width: 80%;
    }
    .nav-container-one .nav-login{
        display: none;
    }
    .banner{
        width: 100%;
        height: 800px;
    }
    .main2-feature{
        width: 100%;
    }
    .main-container .feature-titles p{
        font-size: 2rem;
    }
    .main2-feature .feature-content1{
        width: 80%;
    }
    .main-key{
        width: 100%;
        display: grid;
        text-align: center;
    }
    .key-img{
        width: 90%;
        margin: 0px auto;
    }
    .main-key .key-img img{
        width: 100%;
    }
    .key-detail{
        width: 100%;
    }
    .key-detail .key-titles{
        width: 95%;
        margin: 0px auto;
        text-align: center;
        text-align: center;
    }
    .key-features{
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }
    .key-features .key-features1{
        width: 95%;
        text-align: left;
    }
    .pricing-two{
        width: 100%;
        display: grid;
    }
    .price-container{
        width: 100%;
        margin: 50px 0px;
    }
    .price-container .price-one .price-icon i{
        font-size: 1rem;
    }
    .price-container .price-one .price-title p:first-child{
        font-size: 1.5rem;
    }
    .main-blog-container .blog-section{
        display: grid;
    }
    .main-blog-container .blog-section .blog1{
        width: 70%;
        margin: 10px auto;
    }
    .main-contact-container .contact-img{
        width: 50%;
    }
    .main-contact-container .contact-img img{
        width: 90%;
        height: 400px;
    }
    .contact-form{
        width: 100%;
    }
    .contact-form form{
        width: 100%;
    }
    .contact-form form .input1{
        width: 100%;
        display: grid;
    }
    .contact-form form .input1 input{
        width: 94% !important;
    }
    .contact-form form button{
        width: 50% !important;
        margin-left: -20px;
    }

}


@media (max-width: 700px){
    .main-container{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .nav-container-one .nav-menu li{
        display: none;
    }  
    .nav-container-one .fa-bars{
        display: block;
        color: antiquewhite;
        font-size: 1.5rem;
        margin: 0px 35px;
        cursor: pointer;
    } 
    .signup-container{
        width: 50%;
    }
    .login-container{
        width: 50%;
    }
    .banner{
        width: 100%;
    }
    .banner p:first-child{
        width: 100%;
        font-size: 3rem;
    }
    .banner .banner-para{
        width: 100%;
        font-size: 3rem;
    }
    .main2-feature{
        width: 100%;
    }
    .main-container .feature-titles p{
        font-size: 2rem;
    }
    .main2-feature .feature-content1{
        width: 90%;
    }
    .main-contact-container{
        display: grid;
    }
    .main-contact-container .contact-img{
        width: 100%;
    }
    .main-contact-container .contact-img img{
        width: 70%;
        height: 400px;
    }
    .contact-form{
        width: 100% !important;
        margin: 30px 0px;
    }
    .contact-form form{
        width: 100%;
    }
    .contact-form form .input1{
        width: 100%;
        display: grid;
    }
    .contact-form form .input1 input{
        width: 95% !important;
    }
    .contact-form form button{
        width: 70% !important;
        float: center;
        margin: 0px auto;
    }
}


@media (max-width: 500px){
    .nav-container-one .logo{
        margin: 0px 50px;
    }
    .nav-sidebar {
        width: 100%;
    } 
    .nav-sidebar .nav-login{
        text-align: center;
    }
    .signup-container{
        width: 80%;
    }
    .signup-mark .signup-mark{
        position: absolute;
        top: 15%;
        left: 75%;
        width: 20px;
        height: 20px;
        border: 1px solid #06b453;
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        padding: 12px;
        background-color: #06b453;
        border-radius: 50%;
        cursor: pointer;
    }
    .login-container{
        width: 80%;
    }
    .login-mark .login-xmark{
        position: absolute;
        top: 15%;
        left: 75%;
        width: 20px;
        height: 20px;
        border: 1px solid #06b453;
        display: flex;
        justify-content: center;
        align-items: center;
        color: antiquewhite;
        padding: 12px;
        background-color: #06b453;
        border-radius: 50%;
        cursor: pointer;
    }
    .banner{
        width: 100%;
        height: 950px;
    }
    .banner::before{
        display: none;
    }
    .banner p:first-child{
        width: 99%;
        font-size: 2.3rem;
    }
    .banner .banner-para{
        width: 99%;
        font-size: 2.3rem;
    }
    .banner-btn{
        width: 90%;
        display: grid;
        grid-gap: 30px;
    }
    .banner-btn button{
        margin: 40px 0px;
    }
    .main2-feature{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    .main-container .feature-titles p{
        font-size: 2rem;
    }
    .main2-feature .feature-content1{
        width: 90%;
    }
    .main-key{
        width: 100%;
        display: grid;
        text-align: center;
    }
    .key-detail .key-titles p{
        width: 100%;
        font-size: 1.9rem;
        margin: 0px auto;
        text-align: center;
        text-align: center;
    }
    .key-features{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    .key-features .key-features1{
        width: 90%;
        margin: 0px auto;
    }
    .can-use{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
    }
    .can-use-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .trail-container{
        width: 95%;
        padding-bottom: 5px;
    }
    .trail-container h1{
        width: 100%;
        font-size: 1.7rem;
    }
    .trail-container p{
        width: 100%;
    }
    .trail-container .trail-btn{
        display: grid;
        grid-template-columns: 1fr;
        margin: 70px 0px;
        padding: 0px;
    }
    .trail-container .trail-btn button{
        width: 80%;
        margin: 10px auto;
    }
    .accordion-container2{
        width: 100%;
    }
    .accordion1{
        width: 100%;
        height: 80px;
        /* margin: 0px; */
        /* padding: 0px; */
    }
    .accordion1 p:last-child{
        width: 100%;
        padding: 10px 0px 0px;
        font-size: 0.8rem;
        text-align: center;
    }
    .accordion1 .accordion-title{
        padding: 0;
    }
    .accordion1 .accordion-title p{
        font-size: 1rem;
    }

}